# .gitignore file for the config dir
*
!*.yaml
!*.sh
!.gitignore
!/nodered-flows/
!/scenes/
!/themes/
!/includes/
!/bin/
!/www/
!packages/
!packages/*
secrets.yaml
known_devices.yaml
entity_registry.yaml
