# .gitignore file for the config dir
*
!*.yaml
!*.sh
!.gitignore
!/scenes/
!/themes/
!/includes/
!/bin/
!www/
!www/*
!extraconfig/
!extraconfig/*
!packages/
!packages/*
!custom_components/
!custom_components/*
secrets.yaml
known_devices.yaml
entity_registry.yaml
